.App #clock {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 8px;
  right: 48%;
  width: 4%;
  height: 30px;
  line-height: 24px;
  z-index: 1000;
  color: #00d8ff;
  font-family: digital-7;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  border-radius: 8px;
}

@font-face {
  font-family: digital-7;
  src: url("fonts/digital-7.ttf"), url("fonts/digital-7.ttf") format("ttf");
}
